
// ʕ•́ᴥ•̀ʔっ primary color ʕ•́ᴥ•̀ʔっ //
$black-light:#434343;
$black-mid: #343434;
$black-dark: #141414;

// (✿◠‿◠)  secondary color (✿◠‿◠)  //

$green-light: #6BFC5F;
$green-mid: #54E348;
$green-dark: #47CA3C;

// （っ＾▿＾） white （っ＾▿＾） //

$white: #FFFFFF;
$white-mid: #ECECEC;
$white-dark: #CDCDCD;

// ≧◠‿◠≦ gray-green ≧◠‿◠≦ //

$gray-green: #506753;
$gray-green-mid: #425845;
$gray-green-dark: #2F3F31;