header {
    width: 100%;
    padding-top: 40px;
}

.navbar {
    max-width: 1220px;
    margin: 0 auto;

    padding: 0px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 32px;
    gap: 16px;

    @include responsive(){
        display: none;
    }
}

.logo {
    max-width: 88px;
}

.nav-link {
    display: inline-block;

    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;

    color: $white-mid;
    transition: 0.5s ease;

    padding: 8px 16px;

    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -40px;
        left: 50%;

        width: 5px;
        height: 0px;
        transition: 0.5s ease;
        background: linear-gradient(180deg, #434343 0%, #54E348 100%);
        border-radius: 5px;    }

    &:hover {
        color: $green-light;

        &::after {
            height: 40px;
            }
    }
}

.nav-social {
    display: flex;
    align-items: center;
    gap: 16px;

    svg{
        cursor: pointer;
        width: 24px;
        transition: .7s ease;

        &:hover {
            transform: translate(0, -3px);
            path, circle {
                fill: $green-light;
            }
        }
    }

    @include responsive(){
        display: none;
    }
}

.bx{
    display: none;
    @include responsive(){
        display: block;
        
    }
    width: 48px;
    height: 48px;
    background-color: $white;

    border-radius: 8px;
}